<!DOCTYPE html>
<html lang="en">

    {{> header}}
     <style>
        body {
            width: 100%;
            height: 100vh;
        }
        .image{
            overflow: hidden;
            margin-top: 10px;
            width: 100%;
            margin: auto;
            display: grid;
            place-items: center
        }

        h1{
            text-align: center;
        }
    </style>
    <body>
        {{> navbar}}
        <div class="image">

        <img src="https://media.istockphoto.com/photos/anonymous-hacker-with-laptop-in-front-of-binary-code-cyber-security-picture-id962366210?b=1&k=20&m=962366210&s=170667a&w=0&h=DMo_N3cInUGALDSTZ6vhLmKWfDtSUGstb7-dQC-oVcg=" alt="">
        </div>
        <h1>you are in secret page 😎</h1>
    </body>
</html>